<form [formGroup]="builder" #builderForm="ngForm">
    <div>
        <h2>Please tell about yourself *</h2>
        <textarea name="" id="" cols="30" rows="5" formControlName="text"></textarea>
    </div>

    <!-- Loop through questionAndAnswers array to display each question -->
    <div *ngFor="let question of getQuestionAndAnswers().controls">
        <!-- Render answers based on AnswerType -->
        <ng-container *ngIf="question.get('AnswerType')?.value === 'Checkbox'">
            <label>{{ question.get('question')?.value }}</label>
            <label *ngFor="let answer of question.get('answers')?.value">
                <input type="checkbox" [checked]="false"> {{ answer }}
            </label>
        </ng-container>
    
        <ng-container *ngIf="question.get('AnswerType')?.value === 'Text'">
            <label>{{ question.get('question')?.value }}</label>
            <input type="text" placeholder="Enter your answer">
        </ng-container>
    </div>
    
    <div>
        <button type="button" (click)="addQuestion()">Add Question</button>
    </div>
</form>
